html{
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
}



/* Задание 1 */
section.plate{
    width: 600px;
    height: 600px;
    background-color:#0d5825;  
    
}

.quote{
    font-size: 25px;
    color: white;
    padding-top: 10px;
    display: block;
    text-align: center;    
}

blockquote{
    
    margin: 0px;
    margin-top: 30px;
}

.kards{
    position: relative;
    
    margin: 200px auto;
    width: 150px;
    height: 200px;         
}

.card{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0;
    right: 0;      
}

.card:nth-of-type(1) {    
    
    transform: translate(-75px, -20px) rotate(-35deg) ;
    
       
  }
  
.card:nth-of-type(2) {
    transform:  translate(-10px, -20px) rotate(-15deg);
    
    
  }
  
.card:nth-of-type(3) {
    transform: translate(55px, 0px) rotate(10deg);
    
}

.card:nth-of-type(3) :hover{
    
    transform: translate(-5px, -25px);
     
  }

.card:nth-of-type(2) :hover{
    
   transform: translate(5px, -25px);   
  }

.card:nth-of-type(1) :hover{
   
   transform: translate(15px, -25px);
      
   }

.card :hover {
    transition:  ease-in-out .4s;
}

/* Задание 2 */
.posit{
    
    border: 1px solid green;
    position: relative;
    width: inherit;
    height: 500px;
}

.pink{
    position: relative;
    width: 10em;
    height: 10em;
    background: pink;
    z-index: 1;
}

.violet{
    position: absolute;
    left: 100px;
    top: 100px;
    width: 10em;
    height: 10em;
    background: violet;
    z-index: 100;
}

.green{
    position: absolute;
    left:200px;
    top: 200px;
    width: 10em;
    height: 10em;
    background: green;
    z-index: 1;
}

/* Задание 3 */
.panel{
    position: relative;
    margin:20px 0px 20px; 
    border: 1px solid green;
    
    width: inherit;
    height: 500px;
}

.pannel-label{
    
    position: absolute;
    top: 0;
    right:-25%;
    transform:  translateY(200px) rotate(90deg);
    transition: 1s ease;
    transition-property: opacity;
    transition-duration: .5s;
}

.pannel-left:hover .pannel-label{
    
    opacity: 0;
}
.pannel-left{
    position: absolute;
    top:0px;
    left: -250px;
    width: 300px;
    height: 500px;
    background-color: grey;
    transition: 1s ease;
}

.pannel-left:hover{
    position: absolute;
    top:0px;
    left: 0px;
    width: 300px;
    height: 500px;
    background-color: grey;
    animation: panel 1s;
}

@keyframes panel {

    from { left: -250px;}
    
    to {left: 0px;}

    } 

.panel-spisok, .pannel-label{
    text-transform: uppercase;
    font-size: 1.5em;
    color: honeydew;
    padding: 10px 0px 10px 50px;
}

ul{
    list-style-type: none;
    
}

li{
    
    position: relative;
    margin-top: 10px;
    
}

a{
    text-decoration: none;
    transition: .3s;
       
}

li::before {
    content: '';
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: orange;
    margin-right: 10px;
    border: 2px solid black;
    transform: translate(0, -50%) scaleY(1.2) rotate(45deg);
      }

a:hover{
    color:darkgoldenrod;
}


   
 
/* Задание 4 */
.position-box{
    position: relative;
}

@keyframes slide-box {
    0%{
        
        top: 0px;
        left: 0px;
        background:red;
    }
    25%{
        
        top: 300px;
        left: 0px;
        background: blue;
    }
    50%{
        top: 300px;
        left:300px;
        background: green; 
    }
    75%{
        top: 0px;
        left:300px;
        background: yellow; 
    }
    100%{
        top: 0px;
        left: 0px;
        background: red; 
    }

}
.position-box{
    border: 1px solid blue;
    position: relative;
    height: 600px;
}
.box-wrap{
    width:300px;
    height:300px;
    position: relative;
}

.holder{
    width: 100px;
    height:100px;
    background:red;
    position: absolute;
    animation: slide-box 5s infinite;
}