html{
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    margin: 0;
}

.wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    min-height: 100vh;
    flex-direction: row;
}

.main {
    /* display: flex; */
    width: 100%;
}

.container{
    width:100vw;
    display: flex;
    
    
}


.holder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    border: 3px solid black;
    border-radius: 20px;
    overflow: hidden;
    
}

.item{
    display: flex;
    width: 33.333%;
    height: 117px;
    justify-content: center;
    padding: 20px;
    align-items: center;
    font-size: 2em;
    
}

.item:nth-child(1){
    width: 50%;
    order:-1;
    background:salmon;
    

}

.item:nth-child(5){
    width: 50%;
    order: -1;
    background:rgb(245, 180, 58);
    
}
.item:nth-child(2){
    
    order: 1;
    background:rgb(58, 146, 247);
        
}

.item:nth-child(4){
    
    order: 1;
    background:green;
    
}

.item:nth-child(3){
    
    background:mediumorchid;
   
}



