html{
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    min-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-wrap{
    display: flex;
    align-items: center;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

ul{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;

}

li a{
    text-decoration: none;
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-item + .nav-item{
    padding-left: 15px; 
}
.nav{
    margin-left: 15px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-burger{
    position: absolute;
    left: -9999999999999999999;
    opacity: 0;
    visibility: hidden;
}

.burger{
    position: relative;
    display: inline-block;
    height:
}
.main{
    background:white;
    flex-grow: 1;
    display: flex;
    
}

.header{
    background:rgb(211, 183, 20);
    padding:15px 0;
    
}

.content{
    padding:15px;
    flex-grow: 1;
}

.content>p{
    text-align:center;
    font-size:18px;
}

.sidebar{
    max-width: 210px;
    width: 100%;
    padding: 15px;
    text-align: center;
}

.sidebar-left{
    order: -1;
    background:rgb(199, 152, 185);

}

.sidebar-right{
    background:rgb(156, 177, 199);
 
}

.section-header .title{
    text-align:center;
    text-transform: uppercase;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

}

.col{
    width:33.333%;
    padding: 0 15px 30px;
}



.card{
    border: 1px solid black;
    border-radius: 12px;
    padding:15px  20px;
    text-align:center;
    height:100%;
    display: flex;
    flex-direction:column;
}

.card-body{
    flex-grow: 1;
}

.card-img{
    
    width:115px;
    height:115px;
    border-radius: 50%;
    padding:10px;
    background:rgb(199, 183, 183);
    margin: 0 auto;
}
.card-img:hover{
    background: red;
    
}

.bt{
    border: 1px solid black;
    border-radius:20px;
    padding: 5px 15px;
    display: inline-block;
    text-decoration: none;
    color:white;
    box-shadow: 0 0 2px 1px #BDBDBD;
    background: #685174;
}

.bt:hover {
	color:red;
    background:linear-gradient(#fff, #f1f3e0, #fff);
	box-shadow:0 0 3px;
}



.footer{
    background:rgb(134, 236, 134);
    padding:15px;
    text-align: center;
    
}

